@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.flex-all-center{
    display:flex;
    
}

.fa{
    margin:0;
}

.fa-angle-down{
    font-weight:lighter;
    margin: 1.5px;
}

.fa-user{
 border-radius:50%;
}

.none{
    display:none;
}

.green{
    color:green;
}